@font-face {
    font-family: 'DFPShaoNvW5-GBf21f412281973a';
    src: url('./5a3c9e68f629d9151801a887.gif?r=62315753203');
    src: url('./5a3c9e68f629d9151801a887.gif?r=62315753203?#iefix') format('embedded-opentype'), url('./5a3c9e68f629d9151801a887.png') format('woff2'), url('./5a3c9e68f629d9151801a887.bmp?r=62315753203') format('woff'), url('./5a3c9e68f629d9151801a887.jpg?r=62315753203') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cssf21f412281973a {
    font-family: 'DFPShaoNvW5-GBf21f412281973a';
}